<div class="card card-event-wrapper ">
    <img class="card-img-top" src="./assets/images/ImageEvents.png" alt="Card image cap">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <div class="event-date">
                    <p class="event-month">APR</p>
                    <p class="primary-red event-day">27</p>
                </div>
                <div class="event-desc">
                    <h5 class="event-title">PUBG Competition</h5>
                    <p class="event-info mt-2"> <span> Thu 10.00</span> . <span>Hartono Mall, YK</span> </p>
                </div>
            </div>
            <div>
                <div class="avatars">
                    <span class="avatar">
                        <img src="./assets/images/avatar1.png" alt="avatar">
                    </span>
                    <span class="avatar">
                        <img src="./assets/images/avatar2.png" alt="avatar">

                    </span>

                    <span class="avatar">
                        <div>
                            <h3>
                                +3
                            </h3>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>