@import "./../../../../../assets/styles/init.scss";

.card-event-wrapper {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;

    .card-body {
        padding: 10px;

        .event-date {
            text-align: center;

            .event-month {
                font-size: 12px;
                color: #92929D;
            }

            .event-day {
                font-size: 24px;
            }
        }

        .event-desc {
            padding-inline-start: 15px;

            .event-title {
                font-size: 16px;
                color: #44444F;

            }

            .event-info {
                font-size: 14px;
                color: #8B8C98;

                span {
                    padding-inline-end: 5px;
                }
            }
        }

        .avatars {
            display: inline-block;
            transform: scale(1, 1);

            .avatar {
                position: relative;
                display: inline-block;

                border-radius: 30%;
                overflow: hidden;

                &:not(:first-child) {
                    margin-left: -15px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    display: block;
                    transform: scale(-1, 1);

                }

                div {

                    width: 40px;
                    height: 40px;
                    border: 2px solid white;
                    background-color: #FFB074;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 30%;

                    h3 {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}