@import "./../../../../../assets/styles/init.scss";

.example-card {

    height: 450px;
    /* Set the height of the card */
    display: flex;
    flex-direction: column;

    img {
        flex-grow: 1;
        /* Allow the image to take up remaining space */
        object-fit: contain;
        /* Make sure the image covers the entire space */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .mat-mdc-card-content {
        flex-grow: 0;
        overflow: hidden;
    }

    .mat-mdc-card-content p {
        width: 300px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        margin: 0;
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}