<div [ngClass]="{ 'is-bookMarked': currentJob?.isBookMarked }" class="vh-cards mt-3 ">
    <div class="card-header d-flex justify-content-between ">
        <div class="card-title d-flex justify-content-start align-items-start">
            <img [src]="currentJob?.logo" alt=" card logo" />
            <div class="card-info">
                <p>{{currentJob?.title}}
                </p>
                <h3 class="mt-1">{{currentJob?.domain}}</h3>
                <span class="mt-2"> {{currentJob?.postDate}}</span>
            </div>
        </div>
        <div class="card-actions">
            <button type="button" class="btn btn-sm btn-icon" (click)="handleBookmark(currentJob?.isBookMarked)">
                <i class="lar la-bookmark"></i>
            </button>
        </div>
    </div>
    <div class="card-body mt-3">
        <p> {{currentJob?.description}}</p>
        <div class="card-badges mt-2">
            <div class="badge blue-badge"> <i class="las la-users"></i> 10 people</div>
            <div class="badge  orange-badge"> <i class="lar la-calendar"></i> 4 to 8 Jun</div>
        </div>
    </div>
    <div class="card-footer mt-3 d-flex justify-content-between align-items-center">
        <div class="footer-actions">
            <ng-container *ngIf="currentJob?.isBookMarked">
                <button class="btn warning-btn"> Apply Now</button>
            </ng-container>

            <ng-container *ngIf="!currentJob?.isBookMarked">
                <a href="#"> Apply Now</a>
            </ng-container>
        </div>

        <div class="footer-users-apply">
            <div class="avatars">
                <span class="avatar">
                    <img src="./assets/images/avatar1.png" alt="avatar">
                </span>
                <span class="avatar">
                    <img src="./assets/images/avatar2.png" alt="avatar">

                </span>
                <span class="avatar">
                    <img src="./assets/images/avatar3.png" alt="avatar">

                </span>
                <span class="avatar">
                    <div>
                        <h3>
                            +3
                        </h3>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>