@import "./../../../../../assets/styles/init.scss";

.card-opp-wrapper {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    cursor: pointer;

    .card-body {
        padding: 10px;

        .opp-name,
        .opp-location,
        .opp-points {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .opp-name-title,
            .opp-location-title,
            .opp-points-title {
                font-size: 17px;
            }

            .opp-name-data,
            .opp-location-data,
            .opp-points-data {
                font-size: 16px;
                color: $secondary-dark;
            }
        }


    }
}