<div class="card card-opp-wrapper ">
    <img class="card-img-top" src="./assets/images/opposPoint.png" alt="Card image cap">
    <div class="card-body">


        <div class="opp-name">
            <p class="opp-name-title">Opportunity</p>
            <p class="opp-name-data">Social serving #1233</p>
        </div>

        <div class="opp-location">
            <p class="opp-location-title">location</p>
            <p class="opp-location-data">Berlin</p>
        </div>
        <div class="opp-points">
            <p class="opp-points-title">Points required to complete</p>
            <p class="opp-points-data">10</p>
        </div>

    </div>
</div>