<div class="landing-vh-footer">
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap first-section">
            <div class="logo-section">
                <img src="./assets/images/vhour.png" alt="vhour img" />
                <P>We help you find & manage volunteers We help you find & manage volunteers</P>
                <p>
                    We help you find & manage volunteers We help you find & manage volunteers
                </p>
            </div>
            <div>
                <h3> Join Us </h3>
                <ul>
                    <li> <a href="#"> Organization</a> </li>
                    <li> <a href="#"> Volunteer</a> </li>

                    <li> <a href="#"> Company</a> </li>

                    <li> <a href="#"> Other link</a> </li>


                </ul>
            </div>
            <div>
                <h3>Pages </h3>
                <ul>
                    <li> <a href="#"> Home</a> </li>
                    <li> <a href="#"> Community</a> </li>

                    <li> <a href="#"> Create account</a> </li>

                    <li> <a href="#"> Login now</a> </li>


                </ul>
            </div>
            <div>
                <h3>Pages</h3>
                <ul>
                    <li> <a href="#"> Home</a> </li>
                    <li> <a href="#"> Community</a> </li>

                    <li> <a href="#"> Create account</a> </li>

                    <li> <a href="#"> Login now</a> </li>


                </ul>
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-between flex-wrap second-section">
            <div>
                <div class="d-flex align-items-center">
                    <p>Copyrights © 2020</p>
                    <img src="./assets/images/vhour.png" alt="vhour img" />

                </div>

            </div>
            <div>

                <i class="lab la-facebook-square"></i>
                <i class="lab la-instagram"></i>
                <i class="lab la-twitter"></i>
                <i class="lab la-google-plus"></i>
            </div>
            <div>
                <p>Privacy & policy </p>
            </div>
        </div>
    </div>
</div>