<nav class="navbar navbar-expand-sm navbar-light  stc-navbar ">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/STC-Logo.png" alt="logo" />
        </a>

        <div class="language-controls">
            <div (click)="changeLang('ar')" *ngIf="currentLanguage === 'en'">
                <img src="../../../../../assets/images/eg-flag.png" alt="ar logo" />
            </div>
            <div (click)="changeLang('en')" *ngIf="currentLanguage === 'ar'">
                <img src="../../../../../assets/images/us-flag.png" alt="en logo" />
            </div>
        </div>
    </div>
</nav>