<div class=" container ">
  <div class="row align-items-center login-wrapper " inRtl>
    <div class="col-lg-6 ">
      <div class="login-form_title ">
        <h1> {{'LOGIN_TITLE' | translate}}</h1>
        <h3 class="mt-3">{{'LOGIN_SUB_TITLE' | translate}}</h3>
      </div>
      <div class="login-form col-md-10">

        <form #loginForm="ngForm" (ngSubmit)="signIn(loginForm)">
          <div class="row mt-3">
            <label>{{"ACCOUNT_TYPE" | translate}}</label>
            <mat-radio-group class="mt-3 p-0" name="type" #type="ngModel" [(ngModel)]="user.type" on
              aria-labelledby="example-radio-group-label">
              <mat-radio-button color="primary" *ngFor="let account of accountsType" [value]="account.value"
                [checked]="account.checked" (change)="radioChange(account.value)">
                {{account.EN | translate}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="row">
            <div class="col mt-3">
              <label for="email" class="form-label ">{{"USER_NAME" | translate}}</label>
              <input type="text" id="usename" name="usename" #usename="ngModel" [(ngModel)]="user.userName"
                class="form-control " required [ngClass]="{ 'is-invalid': submitted && usename.errors }">

              <div *ngIf="!usename?.valid && (usename?.dirty || usename?.touched)" class="danger mt-2">
                <div *ngIf="usename.errors?.['required']">
                  User Name is required {{ user.type == accountTypeNum.USER ? '"user"' : ' "admin "' }}
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mt-3">
              <label for="password" class="form-label">{{"PASSWORD" | translate}}</label>
              <div class="input-password ">
                <input [type]="user.showPassword ? 'text' : 'password'" id="password" placeholder="Enter password"
                  name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control " required
                  [ngClass]="{ 'is-invalid': submitted && password.errors }">
                <span class="show-password" (click)="user.showPassword = !user.showPassword">
                  {{"SHOW" | translate }}
                </span>
                <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="danger mt-2">
                  <div *ngIf="password.errors?.['required']">
                    Password is required {{ user.type == accountTypeNum.USER ? '"user"' : ' "admin "' }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col d-grid justify-content-center mt-3">
              <button type="submit" (click)="signIn(loginForm)" class="btn btn-sm btn-red" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                {{"SIGN" | translate}}
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="login-img col-lg-6">
      <img src="./assets/images/STC-Logo.png" alt="login img" />
    </div>
  </div>
</div>