@import "./../../../../../assets/styles/init.scss";

.vh-navbar {
    height: auto;

    @include mobile {
        height: auto;
    }

    .navbar-brand {


        img {
            height: 70px;
            width: fit-content;
        }
    }

    .navbar-nav {
        font-size: 16px;

        .nav-link {
            color: $secondary-dark;

            &:hover {
                color: $primary-color !important;
            }
        }

        .nav-link.active {
            color: $primary-color !important;
        }
    }
}